body {
  letter-spacing: 1px;
  height: 100vh;
  margin: 0;
}

#member-all-list,
#member-other-list,
#msg-list {
  .time {
    color: #333;
    min-width: 33px;
  }
  &::-webkit-scrollbar-track {
    // 軌道的樣式
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar {
    // 整體的scrollbar樣式
    width: 6px;
    height: 6px;
    background-color: #f5f5f5;
  }
  &::-webkit-scrollbar-thumb {
    // bar的樣式
    // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff391;
  }
}
